@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
  font-family: system-ui, -apple-system, sans-serif, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            
}
